{% extends "first/base.html" %}
{% load static %}

{% block content %}
    <h4 align="center" class="mb-5">Узнать курсы валют на выбранную дату</h4>
    <p class="just-text">Выберите дату и нажмите кнопку "Узнать курс"</p>
    <form method="post" action="{% url 'first:firsttask' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12" align="center">
                    {{ form.date }}
                </div>
            </div>
        </div>
        <div class="just-text">
            <button class="btn btn-success" type="submit">Узнать курс</button>
        </div>
    </form>
{% endblock %}