{% extends 'first/base.html' %}
{% load static %}

{% block content %}
    <div class="just-text">
        <h3>Курс на {{ date|date:"d.m.Y" }}</h3>
    </div>
        <style>
            table {
                table-layout: fixed;
                width: 40%;
                border-collapse: collapse;
                margin: 0 auto;
            }

            td, th {
                border: 1px solid black;
                padding: 2px;
                background-color: #c1d6cc;
            }
        </style>
        <table>
            <tr>
                <td style="width: 20px">{{ data.Cur_Scale }}</td>
                <td style="width: 20px">{{ data.Cur_Abbreviation }}</td>
                <td style="width: 60px">{{ data.Cur_Name }}</td>
                <td style="width: 30px">{{ data.Cur_OfficialRate }} BYN</td>
            </tr>
        </table>
    <p></p>
    <div class="just-text">
        <h4>{{ different_rate }}</h4>
    </div>
{% endblock %}