{% extends 'first/base.html' %}
{% load static %}

{% block content %}
    <h4 align="center" class="mb-5">Узнать курс определенной валюты за выбранную дату</h4>
    <p class="just-text">Выберите дату и валюту и нажмите кнопку "Узнать курс"</p>
    <form method="post" action="{% url 'second:secondtask' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-2" align="center">
                    <p>{{ form.date }}</p>
                </div>
                <div class="col-sm-4" align="center">
                    <p>{{ form.cur_id }}</p>
                </div>
                <div class="col-sm-2" align="center">
                    <button class="btn btn-success" type="submit">Узнать курс</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}